rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper Functions
    function isAuthenticated() {
      return request.auth != null;
    }
    
    function isAdmin() {
      return isAuthenticated() && 
        (request.auth.token.email == "bl0548541672@gmail.com" && request.auth.token.email_verified == true);
    }

    // Categories
    match /categories/{categoryId} {
      allow read: if isAuthenticated();
      allow write: if isAdmin();
    }

    // Subcategories
    match /subcategories/{subcategoryId} {
      allow read: if isAuthenticated();
      allow write: if isAdmin();
    }

    // Files
    match /files/{fileId} {
      allow read: if isAuthenticated();
      allow write: if isAdmin();
    }
  }
}
